<footer class="site-footer">
	<div class="container footer-inner">
		<div class="footer-copy">
			© 2026 Vibhakar Kumar. All rights reserved.
		</div>
		<div class="footer-social">
			<a href="https://github.com/iamvibhakar" target="_blank" rel="noreferrer" aria-label="GitHub">
				<fa-icon class="social-icon" [icon]="faGithub"></fa-icon>
			</a>
			<a href="https://www.linkedin.com/in/vibhakarkumar/" target="_blank" rel="noreferrer" aria-label="LinkedIn">
				<fa-icon class="social-icon" [icon]="faLinkedin"></fa-icon>
			</a>
			<a href="https://leetcode.com/u/pathakvibhu/" target="_blank" rel="noreferrer" aria-label="LeetCode">
				<fa-icon class="social-icon" [icon]="faLeetCode"></fa-icon>
			</a>
			<!-- <a href="https://www.facebook.com" target="_blank" rel="noreferrer" aria-label="Facebook">
				<fa-icon class="social-icon" [icon]="faFacebook"></fa-icon>
			</a>
			<a href="https://twitter.com" target="_blank" rel="noreferrer" aria-label="Twitter">
				<fa-icon class="social-icon" [icon]="faTwitter"></fa-icon>
			</a>
			<a href="https://www.instagram.com" target="_blank" rel="noreferrer" aria-label="Instagram">
				<fa-icon class="social-icon" [icon]="faInstagram"></fa-icon>
			</a> -->
		</div>
	</div>
</footer>
